#### 주피터 SQL 엔진 설정

In [1]:
%load_ext sql

In [2]:
# ID와 PW를 자신의 환경에 맞게 수정
%sql postgresql://guest:Guest1!*@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

'Connected: guest@dev'

#### 다양한 SELECT 실행해보기

In [3]:
%%sql

SELECT * FROM raw_data.session_timestamp LIMIT 10;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('7cdace91c487558e27ce54df7cdb299c', datetime.datetime(2019, 5, 1, 0, 13, 11, 783000)),
 ('7ed2d3454c5eea71148b11d0c25104ff', datetime.datetime(2019, 5, 1, 10, 18, 43, 210000)),
 ('fd0efcca272f704a760c3b61dcc70fd0', datetime.datetime(2019, 5, 1, 13, 45, 19, 793000)),
 ('c5f441cd5f43eb2f2c024e1f8b5d00cd', datetime.datetime(2019, 5, 1, 15, 3, 54, 650000)),
 ('3d191ef6e236bd1b9bdb9ff4743c47fe', datetime.datetime(2019, 5, 1, 15, 33, 58, 197000)),
 ('cd0b43eac0392accf3624b7372dec36e', datetime.datetime(2019, 5, 1, 16, 33, 3, 463000)),
 ('c67ba7c4c5c0cd4cc3e3a7146fe5c015', datetime.datetime(2019, 5, 1, 17, 42, 13, 580000)),
 ('63dfdeb1ff9ff09ecc3f05d2d7221ffa', datetime.datetime(2019, 5, 1, 18, 35, 48, 620000)),
 ('8d3215ae97598264ad6529613774a038', datetime.datetime(2019, 5, 1, 21, 21, 12, 953000)),
 ('4c4c937b67cc8d785cea1e42ccea185c', datetime.datetime(2019, 5, 1, 23, 50, 38))]

In [4]:
%%sql
## DATE() : 날짜만 리턴
SELECT DATE(ts) date, sessionID FROM raw_data.session_timestamp LIMIT 10;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
(psycopg2.ProgrammingError) syntax error at or near "##"
LINE 1: ## DATE() : 날짜만 리턴
        ^

[SQL: ## DATE() : 날짜만 리턴
SELECT DATE(ts) date, sessionID FROM raw_data.session_timestamp LIMIT 10;]
(Background on this error at: http://sqlalche.me/e/14/f405)

In [5]:
%%sql

SELECT DATE(ts) date, sessionID FROM raw_data.session_timestamp ORDER BY ts desc LIMIT 10;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(datetime.date(2019, 11, 30), '6309ff4befccf8ba77b16141fab763c6'),
 (datetime.date(2019, 11, 30), '42daed3b750cc5c6270636fddee0486d'),
 (datetime.date(2019, 11, 30), '398c674511e98d3e9bd40ba5bfa67af8'),
 (datetime.date(2019, 11, 30), '1e65c9f788d6382abc0ee60886e7fa4a'),
 (datetime.date(2019, 11, 30), 'ec6d363a01a8a0691d24b8556bc1fb61'),
 (datetime.date(2019, 11, 30), '8f48bd8292fc4540404dc9dae06175e6'),
 (datetime.date(2019, 11, 30), '89a76004709bb668a8aefb6306a6aed1'),
 (datetime.date(2019, 11, 30), '9cfaefd1e81f637fad6330ff16eb1f39'),
 (datetime.date(2019, 11, 30), 'bbf2f1c020c5e39734c73223784bd7b4'),
 (datetime.date(2019, 11, 30), 'bac82af401b714e895c9c46af11f76ea')]

In [6]:
%%sql

SELECT DATE(ts) date, COUNT(sessionID)
FROM raw_data.session_timestamp 
GROUP BY 1
LIMIT 10;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(datetime.date(2019, 5, 1), 147),
 (datetime.date(2019, 5, 2), 161),
 (datetime.date(2019, 5, 3), 150),
 (datetime.date(2019, 5, 4), 142),
 (datetime.date(2019, 5, 6), 164),
 (datetime.date(2019, 5, 7), 180),
 (datetime.date(2019, 5, 8), 161),
 (datetime.date(2019, 5, 10), 176),
 (datetime.date(2019, 5, 12), 171),
 (datetime.date(2019, 5, 13), 178)]

In [7]:
%%sql

SELECT DATE(ts) date, COUNT(sessionID)
FROM raw_data.session_timestamp 
GROUP BY 1
ORDER BY 2 DESC
LIMIT 10;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(datetime.date(2019, 10, 23), 678),
 (datetime.date(2019, 11, 13), 671),
 (datetime.date(2019, 11, 12), 668),
 (datetime.date(2019, 10, 11), 665),
 (datetime.date(2019, 10, 29), 660),
 (datetime.date(2019, 10, 21), 653),
 (datetime.date(2019, 11, 5), 652),
 (datetime.date(2019, 11, 11), 651),
 (datetime.date(2019, 10, 14), 648),
 (datetime.date(2019, 11, 7), 645)]

In [8]:
%%sql

SELECT DATE(ts) date, COUNT(sessionID)
FROM raw_data.session_timestamp 
GROUP BY 1
ORDER BY 1 
LIMIT 10; -- DESC

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(datetime.date(2019, 5, 1), 147),
 (datetime.date(2019, 5, 2), 161),
 (datetime.date(2019, 5, 3), 150),
 (datetime.date(2019, 5, 4), 142),
 (datetime.date(2019, 5, 5), 144),
 (datetime.date(2019, 5, 6), 164),
 (datetime.date(2019, 5, 7), 180),
 (datetime.date(2019, 5, 8), 161),
 (datetime.date(2019, 5, 9), 169),
 (datetime.date(2019, 5, 10), 176)]

#### JOIN에 대해 배워보자. 일별 방문 유니크한 사용자의 수를 계산하고 싶다면?

In [9]:
# raw_data.user_session_channelrhk raw_data.session_timestamp 테이블의 조인이 필요
# 날짜당 세션의 수 : 한 사용자가 여러개의 세션을 생성했을 수도 있음. -> 틀림
%%sql

SELECT DATE(st.ts) date, COUNT(usc.userID)
FROM raw_data.session_timestamp st
JOIN raw_data.user_session_channel usc ON st.sessionID = usc.sessionID
GROUP BY 1
ORDER BY 1
LIMIT 10;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(datetime.date(2019, 5, 1), 147),
 (datetime.date(2019, 5, 2), 161),
 (datetime.date(2019, 5, 3), 150),
 (datetime.date(2019, 5, 4), 142),
 (datetime.date(2019, 5, 5), 144),
 (datetime.date(2019, 5, 6), 164),
 (datetime.date(2019, 5, 7), 180),
 (datetime.date(2019, 5, 8), 161),
 (datetime.date(2019, 5, 9), 169),
 (datetime.date(2019, 5, 10), 176)]

In [10]:
# raw_data.user_session_channelrhk raw_data.session_timestamp 테이블의 조인이 필요
# 날짜당 사용자의 수
%%sql

SELECT DATE(st.ts) date, COUNT(DISTINCT usc.userID)
FROM raw_data.session_timestamp st
JOIN raw_data.user_session_channel usc ON st.sessionID = usc.sessionID
GROUP BY 1
ORDER BY 1
LIMIT 10;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(datetime.date(2019, 5, 1), 119),
 (datetime.date(2019, 5, 2), 127),
 (datetime.date(2019, 5, 3), 130),
 (datetime.date(2019, 5, 4), 122),
 (datetime.date(2019, 5, 5), 124),
 (datetime.date(2019, 5, 6), 133),
 (datetime.date(2019, 5, 7), 147),
 (datetime.date(2019, 5, 8), 135),
 (datetime.date(2019, 5, 9), 145),
 (datetime.date(2019, 5, 10), 144)]

In [11]:
%%sql

SELECT channel, COUNT(DISTINCT usc.userID)
FROM raw_data.session_timestamp st
JOIN raw_data.user_session_channel usc ON st.sessionID = usc.sessionID
GROUP BY 1
ORDER BY 1

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[('Facebook', 889),
 ('Google', 893),
 ('Instagram', 895),
 ('Naver', 882),
 ('Organic', 895),
 ('Youtube', 889)]

In [12]:
%%sql

SELECT COUNT(1)     -- Distinct는 중복 제거  DISTINCT channel
FROM raw_data.user_session_channel
WHERE channel ilike '%o%'    -- ilike는 대소문자 구분X, like는 대소문자 구분

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(67768,)]

#### 판다스와 연동하는 방법

In [13]:
result = %sql SELECT * FROM raw_Data.user_session_channel
df = result.DataFrame()   ## pandas dataframe

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
101520 rows affected.

In [14]:
df.head()

   userid                         sessionid   channel
0     184  c41dd99a69df04044aa4e33ece9c9249     Naver
1     251  0a54b19a13b6712dc04d1b49215423d8  Facebook
2     744  05ae14d7ae387b93370d142d82220f1b  Facebook
3     265  4c4ea5258ef3fb3fb1fc48fee9b4408c     Naver
4      45  60131a2a3f223dc8f4753bcc5771660c   Youtube

In [15]:
df.groupby(["channel"]).size()   ## session count

"""
SELECT channel, COUNT(DISTINCT usc.sessionid)
FROM raw_data.session_timestamp st
JOIN raw_data.user_session_channel usc ON st.sessionID = usc.sessionID
GROUP BY 1
ORDER BY 1
"""

'\nSELECT channel, COUNT(DISTINCT usc.sessionid)\nFROM raw_data.session_timestamp st\nJOIN raw_data.user_session_channel usc ON st.sessionID = usc.sessionID\nGROUP BY 1\nORDER BY 1\n'

In [16]:
df.groupby(["channel"])["sessionid"].count()

channel
Facebook     16791
Google       16982
Instagram    16831
Naver        16921
Organic      16904
Youtube      17091
Name: sessionid, dtype: int64

In [17]:
result = %sql SELECT * FROM raw_data.session_timestamp
df_st = result.DataFrame()

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
101520 rows affected.

In [18]:
df_st.head()

                          sessionid                      ts
0  7cdace91c487558e27ce54df7cdb299c 2019-05-01 00:13:11.783
1  7ed2d3454c5eea71148b11d0c25104ff 2019-05-01 10:18:43.210
2  fd0efcca272f704a760c3b61dcc70fd0 2019-05-01 13:45:19.793
3  c5f441cd5f43eb2f2c024e1f8b5d00cd 2019-05-01 15:03:54.650
4  3d191ef6e236bd1b9bdb9ff4743c47fe 2019-05-01 15:33:58.197

In [19]:
df_st['date'] = df_st['ts'].apply(lambda x : "%d-%02d-%02d" % (x.year, x.month, x.day))

In [20]:
df_st.head()

                          sessionid                      ts        date
0  7cdace91c487558e27ce54df7cdb299c 2019-05-01 00:13:11.783  2019-05-01
1  7ed2d3454c5eea71148b11d0c25104ff 2019-05-01 10:18:43.210  2019-05-01
2  fd0efcca272f704a760c3b61dcc70fd0 2019-05-01 13:45:19.793  2019-05-01
3  c5f441cd5f43eb2f2c024e1f8b5d00cd 2019-05-01 15:03:54.650  2019-05-01
4  3d191ef6e236bd1b9bdb9ff4743c47fe 2019-05-01 15:33:58.197  2019-05-01

In [21]:
df_st.groupby(["date"]).size()  #.sort_values(["date"])

date
2019-05-01    147
2019-05-02    161
2019-05-03    150
2019-05-04    142
2019-05-05    144
             ...
2019-11-26    633
2019-11-27    617
2019-11-28    516
2019-11-29    531
2019-11-30    562
Length: 214, dtype: int64

In [22]:
df_st.groupby(["date"])["sessionid"].count().reset_index(name='count').sort_values("date", ascending=False)

           date  count
213  2019-11-30    562
212  2019-11-29    531
211  2019-11-28    516
210  2019-11-27    617
209  2019-11-26    633
..          ...    ...
4    2019-05-05    144
3    2019-05-04    142
2    2019-05-03    150
1    2019-05-02    161
0    2019-05-01    147

[214 rows x 2 columns]